body {
  background-color: rgb(31, 29, 29);
  color:white;
}
.inner {
  display: flex;
  justify-content: center;
}
.title {
  text-align: center;
  margin-top: 60px;
  font-size: 56px;
}
.title::before {
  content: '';
  display: inline-block;
  width: 100px;
  height: 100px;
  background: red;
  border: 4px solid white;
  border-radius: 100px;
  transform: translate(-15%,30%);

}
.title::after {
  content: '';
  display: inline-block;
  width: 100px;
  height: 100px;
  background: rgb(137, 88, 250);
  border: 4px solid white;
  border-radius: 100px;
  transform: translate(15%,30%);
}